.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
  color: white;
}

.bulb-container {
  text-align: center;
}

.bulb {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px auto;
  transition: all 0.3s ease;
}

.bulb.off {
  background: #1e293b;
  box-shadow: none;
}

.bulb.on {
  background: #fde047;
  box-shadow: 
    0 0 20px #fde047,
    0 0 40px #fde047,
    0 0 60px #fde047;
}

.switch {
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.switch:hover {
  background: #0ea5e9;
}
